$color-black: #000;
$color-white: #fff;

$color-anti-flash-white: #f0f2f8;
$color-vampire-black: #0b0b0b;
$color-egyptian-blue: #1c33ac;
$color-indigo-dye: #11258e;
$color-green-blue: #1c5eac;
$color-dark-imperial-blue: #0b1568;
$color-violet-blue: #6878ca;
$color-bright-turquoise: #23d5dd;
$color-old-silver: #858585;
$color-silver-foil: #aeaeae;
$color-silver-chalice: #acacac;
$color-pale-lavender: #d2daff;