$grid-gutter-width: 10rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1192px,
  xxl: 1232px
);

$grid-columns: 12;
$grid-gutter-width: 16rem;

$ffInter: inter, sans-serif;
