include ../../../../components/module-block/module-block
include ../../../../components/advantage-block/advantage-block

section.modules#modules
  .container
    h2.section-title.modules__title Компоненты Решения «ИТ-Ритейл»
    .modules__block-container
      .modules__block-title Управление товарами и продажами
      .modules__block-modules
        .modules__row.row
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы  «Товары и услуги»',
              items: [
                {
                  name: 'Товары',
                  tooltip: 'Представляет из себя справочник товаров'
                },
                {
                  name: 'Услуги',
                  tooltip: 'Представляет из себя справочник услуг'
                },
                {
                  name: 'Категории',
                  tooltip: 'Представляет из себя справочник категорий'
                },
                {
                  name: 'Комнаты',
                  tooltip: 'Представляет из себя справочник комнат'
                },
                {
                  name: 'Оприходования',
                  tooltip: 'Позволяет учитывать на складе излишки товаров, обнаруженные при инвентаризации, и пересортицу, а также вносить на склад начальные остатки.'
                },
                {
                  name: 'Списания',
                  tooltip: 'Позволяет списывать со склада недостающие или поврежденные товары, которая проводится по итогам инвентаризации'
                },
                {
                  name: 'Перемещение',
                  tooltip: 'Позволяет фиксировать движение товаров между складами внутри организации'
                },
                {
                  name: 'Инвентаризация',
                  tooltip: 'Позволяет выявить несоответствие фактических и учетных остатков'
                },
                {
                  name: 'Остатки',
                  tooltip: 'Представляет из себя отчет, позволяющий контролировать складские остатки'
                }
              ]
            })
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы «Продажи»',
              items: [
                {
                  name: 'Заказ покупателя',
                  tooltip: 'Позволяет планировать продажи и резервировать товары'
                },
                {
                  name: 'Попадут в поездку',
                  tooltip: 'Представляет собой отчет позволяющий спланировать объем предстоящих закупок у поставщиков'
                },
                {
                  name: 'Возвраты от покупателей',
                  tooltip: 'Позволяет принимать приобретенные товары назад от покупателей'
                },
                {
                  name: 'Выданные товары',
                  tooltip: 'Позволяет фиксировать выданные товары покупателям, по факту фиксировать отгрузку (выдачу) товаров'
                },
                {
                  name: 'Отказы покупателей',
                  tooltip: 'Позволяет фиксировать отказы от товаров покупателями'
                }
              ]
            })
        .modules__row.row
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы «Закупки»',
              items: [
                {
                  name: 'Заказы поставщика',
                  tooltip: 'Позволяет планировать закупку товаров и услуг'
                },
                {
                  name: 'Приемка',
                  tooltip: 'Позволяет учитывать закупку товаров'
                },
                {
                  name: 'Возвраты поставщикам',
                  tooltip: 'Позволяет фиксировать количество и сумму товаров, которые компания вернула поставщикам'
                }
              ]
            })
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы  «Контрагенты»',
              items: [
                {
                  name: 'Покупатели',
                  tooltip: 'В модуле представлен список покупателей компании'
                },
                {
                  name: 'Поставщики',
                  tooltip: 'Представляет из себя справочник поставщиков'
                },
                {
                  name: 'Бренды',
                  tooltip: 'Представляет из себя справочник брендов'
                },
                {
                  name: 'Черный список',
                  tooltip: 'Позволяет фиксировать непорядочных покупателей'
                }
              ]
            })
        .modules__row.row
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы «Пункты выдачи»',
              items: [
                {
                  name: 'Пункты выдачи',
                  tooltip: 'Представляет из себя справочник пунктов выдачи'
                },
                {
                  name: 'Телефония',
                  tooltip: 'Позволяет отслеживать входящие и исходящие звонки'
                },
                {
                  name: 'Смены',
                  tooltip: 'Фиксирует все продажи и возвраты за смену, а также задолженность банка по безналичной оплате'
                }
              ]
            })


    .modules__block-container.modules__block-container--light
      .modules__block-title Финансы и аналитика
      .modules__block-modules
        .modules__row.row
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы  «Финансы»',
              items: [
                {
                  name: 'Прибыль и убытки',
                  tooltip: 'Представляет из себя отчет, который позволяет отражать доходы и расходы компании и позволяет увидеть чистую прибыль за выбранный период'
                },
                {
                  name: 'Денежные операции',
                  tooltip: 'Позволит фиксировать денежные поступления и выплаты в пределах заданного периода компании'
                },
                {
                  name: 'Платежи',
                  tooltip: 'Фиксирует входящие и исходящие платежи, а также операции по кассе'
                }
              ]
            })
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы «Анализ продаж»',
              items: [
                {
                  name: 'Ключевые показатели',
                  tooltip: 'Позволяет анализировать ключевые показатели компании'
                },
                {
                  name: 'Отчет по продажам',
                  tooltip: 'Позволяет анализировать продажи компании'
                },
                {
                  name: 'Отчет по товарам',
                  tooltip: 'Позволяет анализировать информацию по товарам'
                },
                {
                  name: 'Отчет по покупателям',
                  tooltip: 'Позволяет анализировать клиентов компании, совершивших покупку'
                },
                {
                  name: 'Отчет по источникам',
                  tooltip: 'Позволяет проанализировать источники трафика на сайт компании'
                }
              ]
            })
        .modules__row.row
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы «Зарплата и кадры»',
              items: [
                {
                  name: 'Сотрудники',
                  tooltip: 'Позволяет добавлять в систему новых сотрудников компании и управлять правами их доступа'
                }
              ]
            })
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы  «Контрагенты» ',
              items: [
                {
                  name: 'Покупатели',
                  tooltip: 'В модуле представлен список покупателей компании'
                },
                {
                  name: 'Поставщики',
                  tooltip: 'Представляет из себя справочник поставщиков'
                },
                {
                  name: 'Бренды',
                  tooltip: 'Представляет из себя справочник брендов'
                },
                {
                  name: 'Черный список',
                  tooltip: 'Позволяет фиксировать непорядочных покупателей'
                }
              ]
            })
    .modules__block-container
      .modules__block-title CRM
      .modules__block-modules
        .modules__row.row
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы  «Контент»',
              items: [
                {
                  name: 'Медиаконтент',
                  tooltip: 'Позволяет управлять слайдером на главной странице. Загружать и удалять баннеры, группировать их по городам'
                },
                {
                  name: 'Информация',
                  tooltip: 'Позволяет добавлять информационные сообщения на сайт, публиковать их и оперативно доводить информацию до пользователей'
                }
              ]
            })
          .col-12.col-md-6.modules__col
            +module-block({
              title: 'Модули подсистемы «Маркетинг»',
              items: [
                {
                  name: 'Акции',
                  tooltip: 'Позволяет управлять акциями на сайте и генерировать скидки на товары'
                },
                {
                  name: 'Мета-описание',
                  tooltip: 'Позволяет добавлять мета-описание для страниц сайта, создавать шаблоны для генерации мета-тегов - Title и Description'
                },
                {
                  name: 'Промокоды',
                  tooltip: 'Позволяет создавать промокоды на скидку'
                },
                {
                  name: 'Уведомления',
                  tooltip: 'Позволяет генерировать шаблоны для отпарвки пользователям уведомлений о состостоянии заказа, регистрации на сайте или восстановлении пароля'
                },
                {
                  name: 'Индексация',
                  tooltip: 'Позволяет добавлять на сайт файл robots.txt с директивами для управления индексаций ресурса поисковыми системами'
                }
              ]
            })
        .modules__row.row
          .col-12
            +module-block({
              title: 'Модули подсистемы «Настройки»',
              items: [
                {
                  name: 'Страны',
                  tooltip: 'Модуль содержащий справочник стран'
                },
                {
                  name: 'Валюты',
                  tooltip: 'Модуль содержащий справочник валют'
                },
                {
                  name: 'Города',
                  tooltip: 'Справочник городов, позволяет локально привязывать ресурс к регионам и открывать новые города для масштабирования сервиса'
                },
                {
                  name: 'Организации',
                  tooltip: 'Справочник организаций, позволяет добавлять и редактировать информацию об организациях, управлять их счетами'
                },
                {
                  name: 'Статьи расходов',
                  tooltip: 'Справочник статей расходов'
                },
                {
                  name: 'Пользователи',
                  tooltip: 'Список пользователей сервиса'
                }
              ]
            })

    +advantage-block2(
      'Решение «ИТ-Ритейл» позволяет <span>комплексно подходить к контролю работы</span> Управляющей компании и управлению Пунктами выдачи заказов',
      'Мониторить и анализировать действия клиентов на сайте и сотрудников компании. Внедряемое решение спроектировано таким образом, чтобы масштабирование компании происходило системно и оперативно'
    )