.price {
  padding: 0 0 60rem;

  &__inner {
    position: relative;
    padding: 30rem;
    border-radius: 4rem;
    background: 84% center/600px no-repeat url('../img/section-price/looper.png'), $color-bright-turquoise;

    @media (max-width: 991px) {
      background: 270% center/600px no-repeat url('../img/section-price/looper.png'), $color-bright-turquoise;
    }

    @include mobile {
      padding: 25rem 25rem 257rem;
      background: 140% -73%/520px no-repeat url("../img/section-price/looper.png"), $color-bright-turquoise;
    }

    @include medium-mobile {
      background: 111% -199%/460px no-repeat url("../img/section-price/looper.png"), $color-bright-turquoise;
    }

    @media (max-width: 400px) {
      background: 47% -199%/460px no-repeat url("../img/section-price/looper.png"), $color-bright-turquoise;
    }
  }

  &__title {
    max-width: 420rem;
    @include interMedium();
    margin-bottom: 10rem;
    font-size: 24rem;
    line-height: 36rem;

    @include tablet {
      max-width: 300rem;
      font-size: 20rem;
      line-height: 30rem;
    }

    @include medium-mobile {
      font-size: 22rem;
      line-height: 32rem;
    }
  }

  &__monitor {
    position: absolute;
    bottom: 0;
    right: 82rem;

    @include medium-tablet {
      width: 300rem;
    }

    @include tablet {
      right: 20rem;
    }

    @include mobile {
      width: 290rem;
      right: unset;
      left: 50%;
      transform: translate(-50%, 0);
    }

    @include medium-mobile {
      padding: 0 10rem;
    }
  }
}