section.price
  .container
    .price__inner
      h3.price__title Стоимость неисключительной лицензии 400&nbsp;000&nbsp;₽
      span.price__integration Стоимость внедрения по запросу
      img.price__monitor.lozad(data-src="./img/section-price/monitor.png" alt="")