mixin logo
  a.logo(href="/")&attributes(attributes)
    img.logo__img(src='./img/logo.svg' alt="Логотип «ИТ-Ритейл»")

mixin blue-logo 
   a.logo(href="/")&attributes(attributes)
    img.logo__img(src='./img/blue-logo.svg' alt="Логотип «ИТ-Ритейл» синий")

mixin digital-logo 
  a(href="/")&attributes(attributes)
    img(src='./img/digital-logo.svg' alt="Логотип «ИТ-Ритейл» синий")

mixin rfrit-logo 
  a(href="/")&attributes(attributes)
    img(src='./img/rfrit-logo.svg' alt="Логотип «ИТ-Ритейл» синий")    