extends ../../layouts/layout-default/layout-default

block content
  .shadow
  include ./components/header/header
  main
    include ./components/intro/intro
    include ./components/features/features
    include ./components/processes/processes
    include ./components/possibilities/possibilities
    include ./components/instruments/instruments
    include ./components/advantages/advantages
    include ./components/modules/modules
    include ./components/price/price
    include ./components/integration/integration
  include ./components/footer/footer