section.support
  .container
    h1.support__title  ИТ-ритейл с господдержкой и скидкой 50%
    .support__about
      .support__description
        p.support__description-text Акция проводится в рамках федеральной программы поддержки малого и среднего предпринимательства.
        +button('Отправить заявку', true).support__action-button 
      .initiators
        +digital-logo().initiators__item
        +rfrit-logo().initiators__item
      .support__start-image
        img.support__img.lozad(data-src="./img/section-support/notebook.png" alt="")      



    
  

  
      
      