extends ../../layouts/layout-default/layout-default

block content
  .shadow
  include ./components/header/header
  main
    include ./components/support/support
    include ../index/components/intro/intro
    include ../index/components/possibilities/possibilities
    include ../index/components/modules/modules
    include ./components/methods/methods
    include ./components/price/price
  include ../index/components/footer/footer